

/**{
    border:solid;
}*/

.titulo{
    background-color: darkviolet;
    display:flex;
    justify-content: space-between;
    
}

.jogos {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.roda_pe {
    display:flex;
    justify-content: flex-end;
}

p,h2,h3{
   text-align: center;
}

body{
    background-color: 	#000000;
    border: solid darkviolet ;
}

h2,h3{
   color: darkviolet;
}



.nao_sei{
    color:darkviolet;
}

.minhas_coisas{
    font-size: 30px;
}